Repository BinaryStudioAcademy/bsa-2024-gitfit, pull requests merged in 2024-09, with the labels that each got.

#108 feat: add an ability to create a project group gf-71
  apps/backend/src/db/migrations/20240826152855_add_project_permissions_table.ts
  apps/backend/src/db/migrations/20240826155125_add_project_groups_table.ts
  apps/backend/src/db/migrations/20240826160832_add_projects_to_project_groups_table.ts
  apps/backend/src/db/migrations/20240826165746_add_project_groups_to_project_permissions_table.ts
  apps/backend/src/db/migrations/20240826171900_add_view_project_permission.ts
  apps/backend/src/db/migrations/20240828121649_add_users_to_project_groups_table.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/project-groups/libs/enums/enums.ts
  apps/backend/src/modules/project-groups/libs/exceptions/exceptions.ts
  apps/backend/src/modules/project-groups/libs/types/types.ts
  apps/backend/src/modules/project-groups/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/project-groups/project-group.controller.ts
  apps/backend/src/modules/project-groups/project-group.entity.ts
  apps/backend/src/modules/project-groups/project-group.model.ts
  apps/backend/src/modules/project-groups/project-group.repository.ts
  apps/backend/src/modules/project-groups/project-group.service.ts
  apps/backend/src/modules/project-groups/project-groups.ts
  apps/backend/src/modules/project-groups/project-permission.model.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/modules/project-groups/libs/enums/enums.ts
  packages/shared/src/modules/project-groups/libs/enums/project-group-validation-message.enum.ts
  packages/shared/src/modules/project-groups/libs/enums/project-group-validation-rule.enum.ts
  packages/shared/src/modules/project-groups/libs/enums/project-groups-api-path.enum.ts
  packages/shared/src/modules/project-groups/libs/exceptions/exceptions.ts
  packages/shared/src/modules/project-groups/libs/exceptions/project-group-error.exception.ts
  packages/shared/src/modules/project-groups/libs/types/project-group-create-request-dto.type.ts
  packages/shared/src/modules/project-groups/libs/types/project-group-create-response-dto.type.ts
  packages/shared/src/modules/project-groups/libs/types/types.ts
  packages/shared/src/modules/project-groups/libs/validation-schemas/project-group-create.validation-schema.ts
  packages/shared/src/modules/project-groups/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/project-groups/project-groups.ts
  readme.md
Labels: root, shared, backend

#123 fix: Make sidebar item to indicate the active page gf-118
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/sidebar/sidebar-item/sidebar-item.tsx
  apps/frontend/src/libs/components/sidebar/sidebar-item/styles.module.css
Labels: bug, frontend

#132 feat: Sign Up page fields validation, Sign up button inconsistent text gf-131
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, shared, frontend

#109 feat: Add project page gf-86
  apps/backend/src/db/migrations/20240829201429_change_description_type.ts
  apps/backend/src/modules/projects/libs/types/types.ts
  apps/backend/src/modules/projects/project.controller.ts
  apps/backend/src/modules/projects/project.entity.ts
  apps/backend/src/modules/projects/project.service.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/modules/projects/projects-api.ts
  apps/frontend/src/modules/projects/slices/actions.ts
  apps/frontend/src/modules/projects/slices/project.slice.ts
  apps/frontend/src/modules/projects/slices/projects.ts
  apps/frontend/src/pages/project/project.tsx
  apps/frontend/src/pages/project/styles.module.css
  apps/frontend/src/pages/projects/components/project-card/project-card.tsx
  apps/frontend/src/pages/projects/components/project-card/styles.module.css
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/modules/projects/libs/enums/projects-api-path.enum.ts
  packages/shared/src/modules/projects/libs/types/project-create-response-dto.type.ts
  packages/shared/src/modules/projects/libs/types/types.ts
  packages/shared/src/modules/projects/projects.ts
Labels: root, shared, backend, frontend

#107 feat: add an ability to edit user name gf-89
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/header/libs/components/user-popover/styles.module.css
  apps/frontend/src/libs/components/header/libs/components/user-popover/user-popover.tsx
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/profile/components/components.ts
  apps/frontend/src/pages/profile/components/edit-user-form/edit-user-form.tsx
  apps/frontend/src/pages/profile/components/edit-user-form/styles.module.css
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
  apps/frontend/src/pages/projects/projects.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/http/libs/types/http-method.type.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-patch-request-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-patch-response-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-patch.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/users/users.ts
Labels: shared, backend, frontend

#141 feat: Validation of the Password field on the login page gf-134
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Labels: shared

#115 feat: add an ability to create a project gf-87
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/modules/projects/project.repository.ts
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/hooks/use-modal-state/use-modal-state.hook.ts
  apps/frontend/src/modules/projects/libs/types/types.ts
  apps/frontend/src/modules/projects/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/projects/projects-api.ts
  apps/frontend/src/modules/projects/projects.ts
  apps/frontend/src/modules/projects/slices/actions.ts
  apps/frontend/src/modules/projects/slices/project.slice.ts
  apps/frontend/src/modules/projects/slices/projects.ts
  apps/frontend/src/pages/projects/components/components.ts
  apps/frontend/src/pages/projects/components/project-create-form/libs/constants/constants.ts
  apps/frontend/src/pages/projects/components/project-create-form/libs/constants/default-project-create-payload.constant.ts
  apps/frontend/src/pages/projects/components/project-create-form/project-create-form.tsx
  apps/frontend/src/pages/projects/components/project-create-form/styles.module.css
  apps/frontend/src/pages/projects/projects.tsx
  apps/frontend/src/pages/projects/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/empty-length.constant.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/sort-type.enum.ts
  packages/shared/src/modules/projects/libs/exceptions/exceptions.ts
  packages/shared/src/modules/projects/libs/exceptions/project-error.exception.ts
Labels: shared, backend, frontend

#148 fix: the size of the user popup and the font of the elements don't match the layout gf-136
  apps/frontend/src/libs/components/header/libs/components/user-popover/styles.module.css
Labels: frontend

#114 feat: Add search to the project list gf-85
  apps/backend/src/modules/projects/libs/types/types.ts
  apps/backend/src/modules/projects/project.controller.ts
  apps/backend/src/modules/projects/project.repository.ts
  apps/backend/src/modules/projects/project.service.ts
  apps/frontend/src/assets/images/icons/search.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/icon/libs/types/icon-name.type.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/search/libs/constants/constants.ts
  apps/frontend/src/libs/components/search/libs/constants/search-timeout.constant.ts
  apps/frontend/src/libs/components/search/search.tsx
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/modules/projects/libs/types/types.ts
  apps/frontend/src/modules/projects/projects-api.ts
  apps/frontend/src/modules/projects/slices/actions.ts
  apps/frontend/src/pages/projects/components/components.ts
  apps/frontend/src/pages/projects/components/project-search/project-search.tsx
  apps/frontend/src/pages/projects/components/project-search/styles.module.css
  apps/frontend/src/pages/projects/projects.tsx
  apps/frontend/src/pages/projects/styles.module.css
  package-lock.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/init-debounce/init-debounce.helper.ts
  packages/shared/src/libs/helpers/init-debounce/init-debounce.ts
  packages/shared/src/modules/projects/libs/types/project-get-all-request-dto.type.ts
  packages/shared/src/modules/projects/libs/types/types.ts
  packages/shared/src/modules/projects/projects.ts
Labels: root, shared, backend, frontend

#153 fix: The Project description text overflows beyond the screen boundaries when 1000 characters are entered gf-150
  apps/frontend/src/pages/project/styles.module.css
Labels: frontend

#157 fix: Absence of background on the left side of Auth pages gf-121
  apps/frontend/src/assets/images/auth-background.png
  apps/frontend/src/pages/auth/styles.module.css
Labels: bug, frontend

#160 fix: Inconsistent line height of the Back to home text within the button on the Not fount page gf-156
  apps/frontend/src/libs/components/button/styles.module.css
Labels: bug, frontend

#161 fix: Momentary White Screen on Page Reload with 3G Internet Connection gf-145
  apps/frontend/index.html
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/index.tsx
Labels: frontend

#162 fix: Inconsistent location of the load component with a slow internet connection gf-147
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/libs/components/protected-route/styles.module.css
Labels: bug, frontend

#167 feat: Logo element on the Header component should redirect user to the Main page gf-154
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
Labels: frontend

#174 feat: scroll element must be shown at the right side of the table component gf-149
  apps/frontend/src/libs/components/table/styles.module.css
  apps/frontend/src/libs/components/table/table.tsx
Labels: frontend

#171 feat: Add breadcrumbs to the project details page gf-165
  apps/frontend/src/pages/project/project.tsx
  apps/frontend/src/pages/project/styles.module.css
Labels: frontend

#143 feat: add pagination to the users table gf-82
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/constants/page-index-offset.constant.ts
  apps/backend/src/libs/types/repository.type.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/groups/group.repository.ts
  apps/backend/src/modules/groups/group.service.ts
  apps/backend/src/modules/project-groups/project-group.repository.ts
  apps/backend/src/modules/projects/project.repository.ts
  apps/backend/src/modules/projects/project.service.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/assets/images/icons/right-arrow.svg
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/libs/modules/api/libs/types/http-api-options.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/pages/access-management/access-management.tsx
  apps/frontend/src/pages/access-management/styles.module.css
  apps/frontend/src/pages/ui/ui.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/types/pagination-query-parameters.type.ts
  packages/shared/src/libs/types/pagination-response-dto.type.ts
  packages/shared/src/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-get-all-response-dto.type.ts
Labels: shared, backend, frontend

#179 fix: Inconsistent location of the load component with a slow internet connection gf-147
  apps/frontend/src/libs/components/protected-route/styles.module.css
Labels: bug, frontend

#173 feat: add only latin validation rule gf-131
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, shared

#194 fix: Font size of the "Profile" heading doesn`t match the design mockup gf-192
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
Labels: bug, frontend

#184 feat: Add pagination to the groups table gf-83
  apps/backend/src/modules/groups/group.controller.ts
  apps/backend/src/modules/groups/group.repository.ts
  apps/backend/src/modules/groups/group.service.ts
  apps/frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  apps/frontend/src/modules/groups/groups-api.ts
  apps/frontend/src/modules/groups/slices/actions.ts
  apps/frontend/src/modules/groups/slices/group.slice.ts
  apps/frontend/src/pages/access-management/access-management.tsx
  apps/frontend/src/pages/access-management/styles.module.css
  package-lock.json
  packages/shared/src/modules/groups/libs/types/group-get-all-response-dto.type.ts
Labels: root, shared, backend, frontend

#195 fix: The success message for profile update doesn`t match the specification gf-193
  apps/frontend/src/libs/enums/notification-message.enum.ts
Labels: bug, frontend

#168 feat: Add an ability to delete a project gf-138
  apps/backend/src/modules/projects/project.controller.ts
  apps/backend/src/modules/projects/project.repository.ts
  apps/backend/src/modules/projects/project.service.ts
  apps/frontend/src/assets/images/icons/trash-bin.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/confirmation-modal/confirmation-modal.tsx
  apps/frontend/src/libs/components/confirmation-modal/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/groups/groups-api.ts
  apps/frontend/src/modules/projects/projects-api.ts
  apps/frontend/src/modules/projects/slices/actions.ts
  apps/frontend/src/modules/projects/slices/project.slice.ts
  apps/frontend/src/modules/projects/slices/projects.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/pages/project/project.tsx
  apps/frontend/src/pages/projects/components/project-card/project-card.tsx
  apps/frontend/src/pages/projects/components/project-menu/project-menu.tsx
  apps/frontend/src/pages/projects/projects.tsx
  packages/shared/src/libs/modules/http/libs/types/http-method.type.ts
Labels: shared, backend, frontend

#213 fix: adjustment of right arrow svg icon to handle custom color attributes gf-208
  apps/frontend/src/assets/images/icons/right-arrow.svg
Labels: frontend

#212 fix: internal server error for table pagination on emty tables gf-205
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/total-pages.helper.ts
Labels: bug, frontend

#207 fix: Change the text message on the Error toast notification when attempting to Sign Up with existing email gf-190
  apps/backend/src/modules/users/user.service.ts
  package-lock.json
  packages/shared/src/libs/enums/exception-message.enum.ts
Labels: bug, root, shared, backend

#185 feat: Add an ability to delete personal account gf-146
  apps/backend/src/db/migrations/20240904065949_add_deleted_at_to_users.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/libs/components/confirmation-modal/styles.module.css
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/libs/components/user-popover/user-popover.tsx
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/libs/components/toast-container/toast-container.tsx
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/pages/profile/components/components.ts
  apps/frontend/src/pages/profile/components/delete-account/delete-account.tsx
  apps/frontend/src/pages/profile/components/delete-account/styles.module.css
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
  readme.md
Labels: root, backend, frontend

#210 feat: Add a "No projects found" message when search field no results on the Projects page gf-187
  apps/frontend/src/pages/projects/projects.tsx
  apps/frontend/src/pages/projects/styles.module.css
Labels: frontend

#175 feat: restrict users manage groups gf-84
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/helpers/helpers.ts
  apps/backend/src/libs/hooks/check-user-permissions.hook.ts
  apps/backend/src/libs/hooks/hooks.ts
  apps/backend/src/libs/modules/controller/controller.ts
  apps/backend/src/libs/modules/controller/libs/types/api-pre-handler.type.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/controller/libs/types/types.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/groups/group.controller.ts
  apps/backend/src/modules/groups/group.entity.ts
  apps/backend/src/modules/groups/group.model.ts
  apps/backend/src/modules/groups/permission.model.ts
  apps/backend/src/modules/permissions/libs/enums/enums.ts
  apps/backend/src/modules/permissions/libs/types/types.ts
  apps/backend/src/modules/permissions/permission.conroller.ts
  apps/backend/src/modules/permissions/permission.entity.ts
  apps/backend/src/modules/permissions/permission.model.ts
  apps/backend/src/modules/permissions/permission.repository.ts
  apps/backend/src/modules/permissions/permission.service.ts
  apps/backend/src/modules/permissions/permissions.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/page-layout/page-layout.tsx
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/constants/navigation-items.constant.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/types/navigation-item.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/libs/types/types.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/pages/access-management/libs/helpers/get-user-rows.helper.ts
  apps/frontend/src/pages/auth/auth.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/libs/enums/permission-key.enum.ts
  packages/shared/src/libs/helpers/check-has-permission/check-has-permission.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/permissions/libs/enums/enums.ts
  packages/shared/src/modules/permissions/libs/enums/permissions-api-path.enum.ts
  packages/shared/src/modules/permissions/libs/types/permission-get-all-item-response-dto.type.ts
  packages/shared/src/modules/permissions/libs/types/permission-get-all-response-dto.type.ts
  packages/shared/src/modules/permissions/libs/types/types.ts
  packages/shared/src/modules/permissions/permissions.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
Labels: shared, backend, frontend

#220 feat: add display message for empty tables gf-206
  apps/frontend/src/libs/components/table/styles.module.css
  apps/frontend/src/libs/components/table/table.tsx
Labels: frontend

#226 feat: select cursor pointer gf-204
  apps/frontend/src/libs/components/select/select.tsx
  apps/frontend/src/libs/components/select/styles.module.css
Labels: frontend

#225 feat: improve toast notification position and design gf-201
  apps/frontend/src/libs/components/toast-container/styles.module.css
  apps/frontend/src/libs/components/toast-container/toast-container.tsx
  package-lock.json
Labels: root, frontend

#228 feat: improve avatar visibility gf-202
  apps/frontend/src/libs/components/avatar/avatar.tsx
  apps/frontend/src/libs/components/avatar/styles.module.css
Labels: frontend

#222 feat: add a character counter for the project description gf-188
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/modules/projects/libs/enums/enums.ts
  apps/frontend/src/modules/projects/projects.ts
  apps/frontend/src/pages/projects/components/project-create-form/project-create-form.tsx
  apps/frontend/src/pages/projects/components/project-create-form/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/projects/projects.ts
Labels: shared, frontend

#176 feat: add an ablity to create a group gf-79
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/modules/groups/group.controller.ts
  apps/backend/src/modules/permissions/permission.controller.ts
  apps/backend/src/modules/permissions/permission.entity.ts
  apps/backend/src/modules/permissions/permissions.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/libs/components/checkbox/checkbox.tsx
  apps/frontend/src/libs/components/checkbox/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/libs/components/select/select.tsx
  apps/frontend/src/libs/components/table-pagination/libs/constants/page-size-options.constant.ts
  apps/frontend/src/libs/components/table-pagination/table-pagination.tsx
  apps/frontend/src/libs/components/table/components/components.ts
  apps/frontend/src/libs/components/table/components/select-row-cell/select-row-cell.tsx
  apps/frontend/src/libs/components/table/table.tsx
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/libs/hooks/use-selected-items/use-selected-items.hook.ts
  apps/frontend/src/libs/modules/store/libs/types/extra-arguments.type.ts
  apps/frontend/src/libs/modules/store/libs/types/root-reducer.type.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/groups/groups-api.ts
  apps/frontend/src/modules/groups/groups.ts
  apps/frontend/src/modules/groups/libs/types/types.ts
  apps/frontend/src/modules/groups/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/groups/slices/actions.ts
  apps/frontend/src/modules/groups/slices/group.slice.ts
  apps/frontend/src/modules/groups/slices/groups.ts
  apps/frontend/src/modules/permissions/libs/enums/enums.ts
  apps/frontend/src/modules/permissions/libs/types/types.ts
  apps/frontend/src/modules/permissions/permissions-api.ts
  apps/frontend/src/modules/permissions/permissions.ts
  apps/frontend/src/modules/permissions/slices/actions.ts
  apps/frontend/src/modules/permissions/slices/permission.slice.ts
  apps/frontend/src/modules/permissions/slices/permissions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/pages/access-management/access-management.tsx
  apps/frontend/src/pages/access-management/libs/components/components.ts
  apps/frontend/src/pages/access-management/libs/components/group-create-form/group-create-form.tsx
  apps/frontend/src/pages/access-management/libs/components/group-create-form/libs/constants/constants.ts
  apps/frontend/src/pages/access-management/libs/components/group-create-form/libs/constants/default-group-create-payload.constant.ts
  apps/frontend/src/pages/access-management/libs/components/group-create-form/libs/helpers/get-permission-options.helper.ts
  apps/frontend/src/pages/access-management/libs/components/group-create-form/libs/helpers/helpers.ts
  apps/frontend/src/pages/access-management/libs/components/group-create-form/styles.module.css
  apps/frontend/src/pages/access-management/libs/components/group-users-table/group-users-table.tsx
  apps/frontend/src/pages/access-management/libs/components/group-users-table/styles.module.css
  apps/frontend/src/pages/access-management/libs/components/groups-table/groups-table.tsx
  apps/frontend/src/pages/access-management/libs/components/groups-table/styles.module.css
  apps/frontend/src/pages/access-management/libs/components/users-table/styles.module.css
  apps/frontend/src/pages/access-management/libs/components/users-table/users-table.tsx
  apps/frontend/src/pages/access-management/libs/helpers/get-user-columns.helper.ts
  apps/frontend/src/pages/access-management/libs/helpers/get-user-rows.helper.ts
  apps/frontend/src/pages/access-management/libs/types/user-row.type.ts
  apps/frontend/src/pages/access-management/styles.module.css
  packages/shared/src/modules/groups/libs/enums/group-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/types/user-get-all-item-response-dto.type.ts
Labels: shared, backend, frontend

#240 feat: refactor existing sub components gf-233
  apps/frontend/src/libs/components/sidebar/libs/components/components.ts
  apps/frontend/src/libs/components/sidebar/libs/components/sidebar-item/sidebar-item.tsx
  apps/frontend/src/libs/components/sidebar/libs/components/sidebar-item/styles.module.css
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/table/libs/components/components.ts
  apps/frontend/src/libs/components/table/libs/components/select-row-cell/select-row-cell.tsx
  apps/frontend/src/libs/components/table/table.tsx
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/libs/components/components.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/libs/constants/constants.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/libs/constants/default-sign-in-payload.constant.ts
  apps/frontend/src/pages/auth/libs/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/libs/components/sign-up-form/libs/constants/constants.ts
  apps/frontend/src/pages/auth/libs/components/sign-up-form/libs/constants/default-sign-up-payload.constant.ts
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/profile/libs/components/components.ts
  apps/frontend/src/pages/profile/libs/components/delete-account/delete-account.tsx
  apps/frontend/src/pages/profile/libs/components/delete-account/styles.module.css
  apps/frontend/src/pages/profile/libs/components/edit-user-form/edit-user-form.tsx
  apps/frontend/src/pages/profile/libs/components/edit-user-form/styles.module.css
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/projects/libs/components/components.ts
  apps/frontend/src/pages/projects/libs/components/project-card/project-card.tsx
  apps/frontend/src/pages/projects/libs/components/project-card/styles.module.css
  apps/frontend/src/pages/projects/libs/components/project-create-form/libs/constants/constants.ts
  apps/frontend/src/pages/projects/libs/components/project-create-form/libs/constants/default-project-create-payload.constant.ts
  apps/frontend/src/pages/projects/libs/components/project-create-form/project-create-form.tsx
  apps/frontend/src/pages/projects/libs/components/project-create-form/styles.module.css
  apps/frontend/src/pages/projects/libs/components/project-menu/project-menu.tsx
  apps/frontend/src/pages/projects/libs/components/project-search/project-search.tsx
  apps/frontend/src/pages/projects/libs/components/project-search/styles.module.css
  apps/frontend/src/pages/projects/libs/components/project-update-form/project-update-form.tsx
  apps/frontend/src/pages/projects/libs/components/project-update-form/styles.module.css
  apps/frontend/src/pages/projects/projects.tsx
Labels: frontend

#235 feat: add admin group gf-227
  apps/backend/src/db/migrations/20240909125551_add_admins_group.ts
  package-lock.json
Labels: root, backend

#218 feat: save search value to query parameters gf-200
  apps/backend/src/libs/types/repository.type.ts
  apps/backend/src/modules/projects/project.controller.ts
  apps/backend/src/modules/projects/project.repository.ts
  apps/backend/src/modules/projects/project.service.ts
  apps/frontend/src/libs/components/search/search.tsx
  apps/frontend/src/libs/enums/query-parameter-name.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-search/use-search.hook.ts
  apps/frontend/src/modules/projects/projects-api.ts
  apps/frontend/src/pages/projects/projects.tsx
Labels: backend, frontend

#245 feat: remove ui page gf-243
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/table/mock-data.ts
  apps/frontend/src/pages/ui/ui.tsx
Labels: frontend

#246 docs: changed character requirements gf-244
  docs/specification.md
Labels: docs, qa

#251 fix: name field doesn`t accept hyphen on Sign-Up page gf-236
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
Labels: shared

#256 fix: resctict user manage group gf-254
  apps/backend/src/libs/hooks/check-user-permissions.hook.ts
  apps/backend/src/libs/modules/controller/libs/types/api-pre-handler.type.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/modules/groups/group.controller.ts
Labels: bug, backend

#255 fix: missing error message for invalid email format on Sign Up page gf-252
  apps/frontend/src/pages/auth/libs/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/libs/components/sign-up-form/sign-up-form.tsx
Labels: frontend

#128 feat: add an ability to delete a group gf-80
  apps/backend/src/modules/groups/group.controller.ts
  apps/backend/src/modules/groups/group.repository.ts
  apps/backend/src/modules/groups/group.service.ts
  apps/frontend/src/libs/components/icon-button/styles.module.css
  apps/frontend/src/libs/components/menu/menu.tsx
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/libs/components/popover/popover.tsx
  apps/frontend/src/libs/components/popover/styles.module.css
  apps/frontend/src/libs/components/table-pagination/libs/constants/constants.ts
  apps/frontend/src/libs/components/table-pagination/libs/constants/items-changed-count.constant.ts
  apps/frontend/src/libs/components/table/table.tsx
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-popover-position/use-popover-position.hook.ts
  apps/frontend/src/modules/groups/groups-api.ts
  apps/frontend/src/modules/groups/slices/actions.ts
  apps/frontend/src/modules/groups/slices/group.slice.ts
  apps/frontend/src/modules/groups/slices/groups.ts
  apps/frontend/src/pages/access-management/access-management.tsx
  apps/frontend/src/pages/access-management/libs/components/components.ts
  apps/frontend/src/pages/access-management/libs/components/group-menu/group-menu.tsx
  apps/frontend/src/pages/access-management/libs/components/group-menu/styles.module.css
  apps/frontend/src/pages/access-management/libs/components/groups-table/groups-table.tsx
  apps/frontend/src/pages/access-management/libs/helpers/get-group-columns.helper.tsx
  apps/frontend/src/pages/access-management/libs/helpers/get-group-rows.helper.tsx
  apps/frontend/src/pages/access-management/libs/helpers/helpers.ts
  apps/frontend/src/pages/access-management/libs/types/group-row.type.ts
  packages/shared/src/modules/groups/libs/enums/groups-api-path.enum.ts
Labels: shared, backend, frontend

#261 fix: update profile success message gf-193
  apps/frontend/src/libs/enums/notification-message.enum.ts
Labels: bug, frontend

#269 fix: Incorrect group positioning in Groups table gf-266
  apps/backend/src/modules/groups/group.repository.ts
Labels: bug, backend

#268 fix: fix inconsistent alignment in create group modal gf-265
  apps/frontend/src/libs/components/table/styles.module.css
  apps/frontend/src/libs/components/table/table.tsx
  apps/frontend/src/pages/access-management/libs/components/group-users-table/group-users-table.tsx
  apps/frontend/src/pages/access-management/libs/components/group-users-table/libs/helpers/get-group-users-columns.helper.ts
  apps/frontend/src/pages/access-management/libs/components/group-users-table/libs/helpers/helpers.ts
  apps/frontend/src/pages/access-management/libs/components/group-users-table/styles.module.css
Labels: bug, frontend

#170 feat: add ability to edit group gf-81
  apps/backend/src/modules/groups/group.controller.ts
  apps/backend/src/modules/groups/group.repository.ts
  apps/backend/src/modules/groups/group.service.ts
  apps/backend/src/modules/groups/libs/types/types.ts
  apps/backend/src/modules/groups/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/libs/components/popover/popover.tsx
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  apps/frontend/src/libs/hooks/use-popover-position/use-popover-position.hook.ts
  apps/frontend/src/modules/groups/groups-api.ts
  apps/frontend/src/modules/groups/groups.ts
  apps/frontend/src/modules/groups/libs/types/types.ts
  apps/frontend/src/modules/groups/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/groups/slices/actions.ts
  apps/frontend/src/modules/groups/slices/group.slice.ts
  apps/frontend/src/modules/groups/slices/groups.ts
  apps/frontend/src/pages/access-management/access-management.tsx
  apps/frontend/src/pages/access-management/libs/components/components.ts
  apps/frontend/src/pages/access-management/libs/components/group-create-form/group-create-form.tsx
  apps/frontend/src/pages/access-management/libs/components/group-form/group-form.tsx
  apps/frontend/src/pages/access-management/libs/components/group-form/libs/helpers/get-permission-options.helper.ts
  apps/frontend/src/pages/access-management/libs/components/group-form/libs/helpers/helpers.ts
  apps/frontend/src/pages/access-management/libs/components/group-form/styles.module.css
  apps/frontend/src/pages/access-management/libs/components/group-menu/group-menu.tsx
  apps/frontend/src/pages/access-management/libs/components/group-update-form/group-update-form.tsx
  apps/frontend/src/pages/access-management/libs/components/groups-table/groups-table.tsx
  apps/frontend/src/pages/access-management/libs/helpers/get-group-columns.helper.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/http/libs/types/http-method.type.ts
  packages/shared/src/modules/groups/groups.ts
  packages/shared/src/modules/groups/libs/types/group-update-request-dto.type.ts
  packages/shared/src/modules/groups/libs/types/group-update-response-dto.type.ts
  packages/shared/src/modules/groups/libs/types/types.ts
  packages/shared/src/modules/groups/libs/validation-schemas/group-update.validation-schema.ts
  packages/shared/src/modules/groups/libs/validation-schemas/validation-schemas.ts
Labels: shared, backend, frontend

#275 fix: Invalid validation messages in Create group modal gf-262
  packages/shared/src/modules/groups/libs/enums/group-validation-message.enum.ts
Labels: bug, shared

#273 fix: inconsistent layout of the users table gf-267
  apps/frontend/src/pages/access-management/libs/helpers/get-user-columns.helper.ts
Labels: bug, frontend

#239 feat: make buttons 100% width gf-232
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/confirmation-modal/styles.module.css
  apps/frontend/src/pages/access-management/access-management.tsx
  apps/frontend/src/pages/access-management/libs/components/group-form/styles.module.css
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/profile/libs/components/delete-account/delete-account.tsx
  apps/frontend/src/pages/profile/libs/components/edit-user-form/edit-user-form.tsx
  apps/frontend/src/pages/profile/libs/components/edit-user-form/styles.module.css
  apps/frontend/src/pages/profile/styles.module.css
  apps/frontend/src/pages/project/project.tsx
  apps/frontend/src/pages/projects/libs/components/project-create-form/styles.module.css
  apps/frontend/src/pages/projects/libs/components/project-update-form/styles.module.css
  apps/frontend/src/pages/projects/projects.tsx
  package-lock.json
Labels: root, frontend

#286 fix: adjusted path for project page breadcrumbs gf-283
  apps/frontend/src/pages/project/project.tsx
  package-lock.json
Labels: bug, root, frontend

#298 feat(analytics): Add new workspace for analytics gf-296
  .github/labeler.yml
  .release-please-manifest.json
  commitlint.config.ts
  dangerfile.ts
  eslint.config.js
  knip.config.ts
  package-lock.json
  package.json
  project.config.ts
  release-please-config.json
  scripts/analytics/eslint.config.js
  scripts/analytics/lint-staged.config.js
  scripts/analytics/package.json
  scripts/analytics/src/index.ts
  scripts/analytics/tsconfig.build.json
  scripts/analytics/tsconfig.json
Labels: root, workflows, scripts

#294 fix: The users are not sorted correctly at the "Users" table in the "Access Managment" page gf-290
  apps/backend/src/modules/groups/group.repository.ts
  apps/backend/src/modules/users/user.repository.ts
Labels: bug, backend

#300 fix: Group and permission names are broken in the middle of a word gf-299
  apps/frontend/src/libs/components/table/styles.module.css
Labels: bug, frontend

#304 feat: Add users column to the groups table gf-301
  apps/frontend/src/pages/access-management/libs/helpers/get-group-columns.helper.tsx
  apps/frontend/src/pages/access-management/libs/helpers/get-group-rows.helper.tsx
  apps/frontend/src/pages/access-management/libs/types/group-row.type.ts
Labels: frontend

#293 fix: The page reloads after generating the API key gf-289
  apps/frontend/src/modules/project-api-keys/slices/actions.ts
  apps/frontend/src/modules/projects/slices/project.slice.ts
  apps/frontend/src/pages/project/libs/components/setup-analytics-modal/setup-analytics-modal.tsx
Labels: frontend

#279 feat: not return description on get all request gf-259
  apps/backend/src/modules/projects/project.entity.ts
  apps/backend/src/modules/projects/project.service.ts
  apps/frontend/src/pages/projects/libs/components/project-update-form/project-update-form.tsx
  apps/frontend/src/pages/projects/projects.tsx
  packages/shared/src/modules/projects/libs/types/project-get-all-item-response-dto.type.ts
Labels: shared, backend, frontend

#292 feat: Add an ability to copy project api key gf-284
  apps/frontend/src/assets/images/icons/clipboard.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/project-api-keys/slices/actions.ts
  apps/frontend/src/modules/project-api-keys/slices/project-api-keys.slice.ts
  apps/frontend/src/modules/project-api-keys/slices/project-api-keys.ts
  apps/frontend/src/pages/project/libs/components/setup-analytics-modal/setup-analytics-modal.tsx
Labels: frontend

#309 fix: Button names don`t match the design in "Setup Analytics" gf-308
  apps/frontend/src/pages/project/project.tsx
Labels: frontend

#316 fix: adjusted httpcode to 201 created gf-312
  apps/backend/src/modules/projects/project.controller.ts
  package-lock.json
Labels: bug, root, backend

#317 feat: update validation message for email address field gf-314
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
Labels: shared

#237 feat: add date input to analytics page gf-182
  apps/frontend/package.json
  apps/frontend/src/assets/images/icons/calendar.svg
  apps/frontend/src/assets/images/icons/left-arrow.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/date-input/date-input.tsx
  apps/frontend/src/libs/components/date-input/libs/types/date-input-value.ts
  apps/frontend/src/libs/components/date-input/libs/types/types.ts
  apps/frontend/src/libs/components/date-input/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/constants/navigation-items.constant.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/analytics/analytics.tsx
  apps/frontend/src/pages/analytics/libs/constants/analytics-date-max-range.constant.ts
  apps/frontend/src/pages/analytics/libs/constants/constants.ts
  apps/frontend/src/pages/analytics/styles.module.css
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/add-days/add-days.helper.ts
  packages/shared/src/libs/helpers/format-date/format-date.helper.ts
  packages/shared/src/libs/helpers/get-difference-in-days/get-difference-in-days.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/subtract-days/subtract-days.helper.ts
  stylelint.config.js
Labels: root, shared, frontend

#278 fix: The Table should not be able to scroll when the Options Popover is open gf-272
  apps/frontend/src/libs/components/table/styles.module.css
  apps/frontend/src/libs/components/table/table.tsx
  apps/frontend/src/pages/access-management/libs/components/group-menu/group-menu.tsx
  apps/frontend/src/pages/access-management/libs/components/groups-table/groups-table.tsx
  apps/frontend/src/pages/access-management/libs/helpers/get-group-columns.helper.tsx
Labels: bug, frontend

#325 fix: restrict users to manage projects gf-324
  apps/backend/src/modules/projects/project.controller.ts
Labels: bug, backend

#307 feat: add an ability to regenerate project api key gf-288
  apps/backend/src/modules/project-api-keys/project-api-key.repository.ts
  apps/backend/src/modules/project-api-keys/project-api-key.service.ts
  apps/frontend/src/pages/project/libs/components/setup-analytics-modal/setup-analytics-modal.tsx
Labels: backend, frontend

#323 fix: Inappropriate appearance of the Access Managment page for a small screen resolution (1024px) gf-295
  apps/frontend/src/libs/components/menu/menu.tsx
  apps/frontend/src/libs/components/popover/popover.tsx
  apps/frontend/src/libs/components/popover/styles.module.css
  apps/frontend/src/libs/components/select/select.tsx
  apps/frontend/src/libs/components/table/styles.module.css
  apps/frontend/src/libs/components/table/table.tsx
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-popover-position/use-popover-position.hook.ts
  apps/frontend/src/libs/hooks/use-popover/use-popover.hook.ts
  apps/frontend/src/pages/access-management/libs/components/group-menu/group-menu.tsx
  apps/frontend/src/pages/access-management/libs/components/group-users-table/libs/helpers/get-group-users-columns.helper.ts
  apps/frontend/src/pages/access-management/libs/helpers/get-group-columns.helper.tsx
  apps/frontend/src/pages/access-management/libs/helpers/get-user-columns.helper.ts
  apps/frontend/src/pages/access-management/styles.module.css
Labels: frontend

#280 feat: Add infinite scroll to the projects list gf-276
  apps/backend/src/modules/projects/project.controller.ts
  apps/backend/src/modules/projects/project.repository.ts
  apps/backend/src/modules/projects/project.service.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-infinity-scroll/libs/constants/constants.ts
  apps/frontend/src/libs/hooks/use-infinity-scroll/libs/constants/first-page.constant.ts
  apps/frontend/src/libs/hooks/use-infinity-scroll/libs/constants/page-increment.constant.ts
  apps/frontend/src/libs/hooks/use-infinity-scroll/use-infinity-scroll.hook.ts
  apps/frontend/src/libs/hooks/use-intersection-observer/use-intersection-observer.hook.ts
  apps/frontend/src/modules/projects/libs/constants/constants.ts
  apps/frontend/src/modules/projects/projects-api.ts
  apps/frontend/src/modules/projects/projects.ts
  apps/frontend/src/modules/projects/slices/actions.ts
  apps/frontend/src/modules/projects/slices/project.slice.ts
  apps/frontend/src/pages/projects/libs/constants/constants.ts
  apps/frontend/src/pages/projects/libs/constants/projects-page-size.constant.ts
  apps/frontend/src/pages/projects/projects.tsx
  packages/shared/src/modules/projects/libs/types/project-get-all-request-dto.type.ts
  packages/shared/src/modules/projects/libs/types/project-get-all-response-dto.type.ts
Labels: shared, backend, frontend

#338 fix: type imports gf-276
  packages/shared/src/modules/projects/libs/types/project-get-all-request-dto.type.ts
Labels: shared

#335 fix: groups table refresh on deletion of group gf-329
  apps/frontend/src/pages/access-management/access-management.tsx
  package-lock.json
Labels: root, frontend

#356 feat: Add an ability to delete project group gf-353
  apps/backend/src/modules/project-groups/project-group.controller.ts
  apps/backend/src/modules/project-groups/project-group.repository.ts
  apps/backend/src/modules/project-groups/project-group.service.ts
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/modules/project-groups/project-groups-api.ts
  apps/frontend/src/modules/project-groups/slices/actions.ts
  apps/frontend/src/modules/project-groups/slices/project-group.slice.ts
  apps/frontend/src/modules/project-groups/slices/project-groups.ts
  apps/frontend/src/pages/project-access-management/libs/components/components.ts
  apps/frontend/src/pages/project-access-management/libs/components/project-group-menu/project-group-menu.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-menu/styles.module.css
  apps/frontend/src/pages/project-access-management/libs/components/project-groups-table/project-groups-table.tsx
  apps/frontend/src/pages/project-access-management/libs/helpers/get-project-group-columns.helper.tsx
  apps/frontend/src/pages/project-access-management/project-access-management.tsx
  packages/shared/src/libs/enums/exception-message.enum.ts
Labels: shared, backend, frontend

#359 fix: the last month in the calendar component on the analytics page is shown with empty data gf-357
  apps/frontend/src/libs/components/date-input/styles.module.css
Labels: frontend

#334 feat: add contributors page gf-250
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/contributors/contributor.entity.ts
  apps/backend/src/modules/contributors/contributor.model.ts
  apps/backend/src/modules/contributors/contributor.repository.ts
  apps/backend/src/modules/contributors/contributor.service.ts
  apps/backend/src/modules/contributors/contributors.ts
  apps/backend/src/modules/contributors/libs/enums/enums.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/constants/navigation-items.constant.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/modules/store/libs/types/extra-arguments.type.ts
  apps/frontend/src/libs/modules/store/libs/types/root-reducer.type.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/contributors/contributors-api.ts
  apps/frontend/src/modules/contributors/contributors.ts
  apps/frontend/src/modules/contributors/libs/enums/enums.ts
  apps/frontend/src/modules/contributors/libs/types/types.ts
  apps/frontend/src/modules/contributors/slices/actions.ts
  apps/frontend/src/modules/contributors/slices/contributor.slice.ts
  apps/frontend/src/modules/contributors/slices/contributors.ts
  apps/frontend/src/pages/contributors/contributors.tsx
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-columns.helper.ts
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-rows.helper.ts
  apps/frontend/src/pages/contributors/libs/helpers/helpers.ts
  apps/frontend/src/pages/contributors/libs/types/contributor-row.type.ts
  apps/frontend/src/pages/contributors/libs/types/types.ts
  apps/frontend/src/pages/contributors/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/contributors/contributors.ts
  packages/shared/src/modules/contributors/libs/enums/contributors-api-path.enum.ts
  packages/shared/src/modules/contributors/libs/enums/enums.ts
  packages/shared/src/modules/contributors/libs/types/contributor-get-all-item-response-dto.type.ts
Labels: shared, backend, frontend

#362 fix: implemented emtyplaceholdermessage to handle statusmessage for projects page gf-313
  apps/frontend/src/pages/projects/projects.tsx
Labels: bug, frontend

#365 fix: improve error handling in creating activity logs gf-332
  apps/backend/src/modules/activity-logs/activity-log.service.ts
  apps/backend/src/modules/activity-logs/libs/exceptions/exceptions.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/modules/activity-logs/libs/enums/activity-log-validation-message.enum.ts
  packages/shared/src/modules/activity-logs/libs/validation-schemas/activity-log-create.validation-schema.ts
Labels: bug, shared, backend

#341 feat: Display list of contributors on project details page gf-337
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/contributors/contributor.repository.ts
  apps/backend/src/modules/contributors/contributor.service.ts
  apps/frontend/src/modules/contributors/contributors-api.ts
  apps/frontend/src/modules/projects/slices/actions.ts
  apps/frontend/src/modules/projects/slices/project.slice.ts
  apps/frontend/src/modules/projects/slices/projects.ts
  apps/frontend/src/pages/project/libs/components/components.ts
  apps/frontend/src/pages/project/libs/components/contributor-card/contributor-card.tsx
  apps/frontend/src/pages/project/libs/components/contributor-card/styles.module.css
  apps/frontend/src/pages/project/libs/components/contributors-list/contributors-list.tsx
  apps/frontend/src/pages/project/libs/components/contributors-list/styles.module.css
  apps/frontend/src/pages/project/libs/types/types.ts
  apps/frontend/src/pages/project/project.tsx
  apps/frontend/src/pages/project/styles.module.css
Labels: backend, frontend

#368 feat: add search input to users table in modal gf-355
  apps/frontend/src/modules/project-groups/slices/actions.ts
  apps/frontend/src/pages/project-access-management/libs/components/project-group-create-form/project-group-create-form.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-form/project-group-form.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-users-table/libs/components/components.ts
  apps/frontend/src/pages/project-access-management/libs/components/project-group-users-table/libs/components/project-group-users-search/project-group-users-search.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-users-table/libs/components/project-group-users-search/styles.module.css
  apps/frontend/src/pages/project-access-management/libs/components/project-group-users-table/project-group-users-table.tsx
  apps/frontend/src/pages/project-access-management/project-access-management.tsx
Labels: frontend

#282 feat: add permission to manage all projects gf-248
  apps/backend/src/db/migrations/20240910030000_add_manage_all_projects_permission.ts
  apps/backend/src/modules/project-groups/project-group.controller.ts
  apps/backend/src/modules/projects/project.controller.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/menu-item/menu-item.tsx
  apps/frontend/src/libs/components/menu-item/styles.module.css
  apps/frontend/src/libs/constants/navigation-items.constant.ts
  apps/frontend/src/pages/project/libs/components/project-details-menu/project-details-menu.tsx
  apps/frontend/src/pages/project/project.tsx
  package-lock.json
  packages/shared/src/libs/enums/permission-key.enum.ts
  packages/shared/src/libs/helpers/check-has-permission/check-has-permission.helper.ts
Labels: root, shared, backend, frontend

#373 fix: reloading the same page and loader component gf-276
  apps/frontend/src/libs/hooks/use-infinity-scroll/use-infinity-scroll.hook.ts
  apps/frontend/src/pages/projects/projects.tsx
Labels: bug, frontend

#376 chore: add cd action to publish analytics script to npm gf-375
  .github/workflows/cd-analytics.yml
  .github/workflows/cd.yml
  knip.config.ts
  package-lock.json
  scripts/analytics/.env.example
  scripts/analytics/package.json
  scripts/analytics/src/index.ts
  scripts/analytics/src/libs/modules/analytics-cli/analytics-cli.ts
  scripts/analytics/src/libs/modules/analytics-cli/base-analytics-cli.ts
  scripts/analytics/src/libs/modules/analytics-cli/init-analytics-cli.ts
  scripts/analytics/src/libs/modules/config/base-config.module.ts
  scripts/analytics/src/libs/modules/task-scheduler/base-task-scheduler.module.ts
Labels: root, workflows, scripts

#378 fix: Bring back access to pages without required permissions gf-248
  packages/shared/src/libs/helpers/check-has-permission/check-has-permission.helper.ts
Labels: shared

#381 chore: add repository url to analytics package.json gf-375
  scripts/analytics/package.json
Labels: scripts

#371 feat: Add an ability to edit project group gf-342
  apps/backend/src/modules/project-groups/libs/types/types.ts
  apps/backend/src/modules/project-groups/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/project-groups/project-group.controller.ts
  apps/backend/src/modules/project-groups/project-group.repository.ts
  apps/backend/src/modules/project-groups/project-group.service.ts
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/modules/project-groups/libs/types/types.ts
  apps/frontend/src/modules/project-groups/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/project-groups/project-groups-api.ts
  apps/frontend/src/modules/project-groups/project-groups.ts
  apps/frontend/src/modules/project-groups/slices/actions.ts
  apps/frontend/src/modules/project-groups/slices/project-group.slice.ts
  apps/frontend/src/modules/project-groups/slices/project-groups.ts
  apps/frontend/src/pages/project-access-management/libs/components/components.ts
  apps/frontend/src/pages/project-access-management/libs/components/project-group-form/project-group-form.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-menu/project-group-menu.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-update-form/project-group-update-form.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-update-form/styles.module.css
  apps/frontend/src/pages/project-access-management/libs/components/project-group-users-table/project-group-users-table.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-groups-table/project-groups-table.tsx
  apps/frontend/src/pages/project-access-management/libs/helpers/get-project-group-columns.helper.tsx
  apps/frontend/src/pages/project-access-management/project-access-management.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/project-groups/libs/types/project-group-patch-request-dto.type.ts
  packages/shared/src/modules/project-groups/libs/types/project-group-patch-response-dto.type.ts
  packages/shared/src/modules/project-groups/libs/types/types.ts
  packages/shared/src/modules/project-groups/libs/validation-schemas/project-group-patch.validation-schema.ts
  packages/shared/src/modules/project-groups/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/project-groups/project-groups.ts
Labels: shared, backend, frontend

#380 fix: Make project group name unique only within the scope of a project gf-361
  apps/backend/src/modules/project-groups/libs/helpers/generate-project-group-key.helper.ts
  apps/backend/src/modules/project-groups/libs/helpers/helpers.ts
  apps/backend/src/modules/project-groups/project-group.repository.ts
  apps/backend/src/modules/project-groups/project-group.service.ts
Labels: bug, backend

#384 feat: added placeholder to contributors list on project page gf-377
  apps/frontend/src/pages/project/libs/components/contributors-list/contributors-list.tsx
  apps/frontend/src/pages/project/libs/components/contributors-list/styles.module.css
Labels: frontend

#386 feat: Adjust root permissions gf-350
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/groups/group.controller.ts
  apps/backend/src/modules/project-api-keys/project-api-key.controller.ts
  apps/backend/src/modules/project-groups/project-group.controller.ts
  apps/backend/src/modules/projects/project.controller.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/page-layout/page-layout.tsx
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/libs/constants/navigation-items.constant.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/groups/slices/actions.ts
  apps/frontend/src/pages/project/libs/components/project-details-menu/project-details-menu.tsx
  apps/frontend/src/pages/project/project.tsx
  apps/frontend/src/pages/projects/libs/components/project-card/project-card.tsx
  apps/frontend/src/pages/projects/libs/components/project-menu/project-menu.tsx
  apps/frontend/src/pages/projects/projects.tsx
Labels: backend, frontend

#396 fix: The Check in the checkbox appears in the choosen row for each page in the Create Group modal (for both Create Progect Group and Create Group) gf-390
  apps/frontend/src/libs/components/table/table.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-create-form/project-group-create-form.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-update-form/project-group-update-form.tsx
Labels: frontend

#399 feat: handle dates that cross into the next day but are less than 24 hours apart gf-274
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/pages/projects/libs/components/project-card/project-card.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/get-start-of-day/get-start-of-day.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
Labels: bug, shared, frontend

#404 feat: add an ability to edit contributor name gf-345
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/contributors/contributor.repository.ts
  apps/backend/src/modules/contributors/contributor.service.ts
  apps/backend/src/modules/contributors/libs/types/types.ts
  apps/backend/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/modules/contributors/contributors-api.ts
  apps/frontend/src/modules/contributors/contributors.ts
  apps/frontend/src/modules/contributors/libs/types/types.ts
  apps/frontend/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/contributors/slices/actions.ts
  apps/frontend/src/modules/contributors/slices/contributor.slice.ts
  apps/frontend/src/modules/contributors/slices/contributors.ts
  apps/frontend/src/pages/contributors/contributors.tsx
  apps/frontend/src/pages/contributors/libs/components/components.ts
  apps/frontend/src/pages/contributors/libs/components/contributor-menu/contributor-menu.tsx
  apps/frontend/src/pages/contributors/libs/components/contributor-menu/styles.module.css
  apps/frontend/src/pages/contributors/libs/components/contributor-update-form/contributor-update-form.tsx
  apps/frontend/src/pages/contributors/libs/components/contributor-update-form/styles.module.css
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-columns.helper.tsx
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-rows.helper.ts
  apps/frontend/src/pages/contributors/libs/types/contributor-row.type.ts
  apps/frontend/src/pages/project/libs/components/components.ts
  apps/frontend/src/pages/project/libs/components/contributor-card/contributor-card.tsx
  apps/frontend/src/pages/project/libs/components/contributor-card/styles.module.css
  apps/frontend/src/pages/project/libs/components/contributor-menu/contributor-menu.tsx
  apps/frontend/src/pages/project/libs/components/contributors-list/contributors-list.tsx
  apps/frontend/src/pages/project/project.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/contributors/contributors.ts
  packages/shared/src/modules/contributors/libs/enums/contributor-validation-message.enum.ts
  packages/shared/src/modules/contributors/libs/enums/contributor-validation-rule.enum.ts
  packages/shared/src/modules/contributors/libs/enums/contributors-api-path.enum.ts
  packages/shared/src/modules/contributors/libs/enums/enums.ts
  packages/shared/src/modules/contributors/libs/types/contributor-patch-request-dto.type.ts
  packages/shared/src/modules/contributors/libs/types/contributor-patch-response-dto.type.ts
  packages/shared/src/modules/contributors/libs/types/types.ts
  packages/shared/src/modules/contributors/libs/validation-schemas/contributor-patch.validation-schemas.ts
  packages/shared/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
Labels: shared, backend, frontend

#412 feat: add users column to groups table on project access management page gf-403
  apps/frontend/src/pages/project-access-management/libs/helpers/get-project-group-columns.helper.tsx
  apps/frontend/src/pages/project-access-management/libs/helpers/get-project-group-rows.helper.tsx
  apps/frontend/src/pages/project-access-management/libs/types/project-group-row.type.ts
  apps/frontend/src/pages/project-access-management/project-access-management.tsx
Labels: frontend

#421 fix: The Users table in the Create Projects Group Modal appearance is incorrect for the 1440px and 1024px screen resolution gf-389
  apps/frontend/src/pages/project-access-management/libs/components/project-group-users-table/libs/helpers/get-group-users-columns.helper.ts
Labels: frontend

#423 fix: fix quality criteria issues gf-382
  apps/frontend/src/pages/access-management/libs/helpers/get-group-columns/get-group-columns.helper.tsx
  apps/frontend/src/pages/access-management/libs/helpers/get-group-rows/get-group-rows.helper.tsx
  apps/frontend/src/pages/access-management/libs/helpers/get-user-columns/get-user-columns.helper.ts
  apps/frontend/src/pages/access-management/libs/helpers/get-user-rows/get-user-rows.helper.ts
  apps/frontend/src/pages/access-management/libs/helpers/helpers.ts
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-columns/get-contributor-columns.helper.tsx
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-rows/get-contributor-rows.helper.ts
  apps/frontend/src/pages/contributors/libs/helpers/helpers.ts
  apps/frontend/src/pages/project-access-management/libs/helpers/filter-user-project-groups/filter-user-project-groups.helper.ts
  apps/frontend/src/pages/project-access-management/libs/helpers/get-project-group-columns/get-project-group-columns.helper.tsx
  apps/frontend/src/pages/project-access-management/libs/helpers/get-project-group-rows/get-project-group-rows.helper.tsx
  apps/frontend/src/pages/project-access-management/libs/helpers/get-user-columns/get-user-columns.helper.ts
  apps/frontend/src/pages/project-access-management/libs/helpers/get-user-rows/get-user-rows.helper.ts
  apps/frontend/src/pages/project-access-management/libs/helpers/helpers.ts
Labels: frontend

#372 fix: refactored search handling in search component gf-331
  apps/frontend/src/libs/components/search/search.tsx
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/libs/hooks/use-search/use-search.hook.ts
  apps/frontend/src/pages/access-management/libs/components/group-users-table/group-users-table.tsx
  apps/frontend/src/pages/access-management/libs/components/group-users-table/libs/components/group-users-search/group-users-search.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-users-table/libs/components/project-group-users-search/project-group-users-search.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-users-table/project-group-users-table.tsx
  apps/frontend/src/pages/projects/libs/components/project-search/project-search.tsx
  apps/frontend/src/pages/projects/projects.tsx
  package-lock.json
Labels: bug, root, frontend

#415 feat: Update analytics instructions with the new flow gf-406
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/modules/store/libs/types/root-reducer.type.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/scripts/scripts.ts
  apps/frontend/src/modules/scripts/slices/actions.ts
  apps/frontend/src/modules/scripts/slices/scripts.slice.ts
  apps/frontend/src/modules/scripts/slices/scripts.ts
  apps/frontend/src/pages/project/libs/components/setup-analytics-modal/setup-analytics-modal.tsx
  apps/frontend/src/pages/project/libs/components/setup-analytics-modal/styles.module.css
Labels: frontend

#416 fix: inconsistent page content layout on the contributors page with different screen resolutions gf-387
  apps/frontend/src/libs/components/table/styles.module.css
  apps/frontend/src/libs/components/table/table.tsx
  apps/frontend/src/pages/contributors/contributors.tsx
Labels: frontend

#428 chore: add cd action to publish analytics script to npm gf-375
  .github/workflows/cd-analytics.yml
  scripts/analytics/package.json
Labels: workflows, scripts

#430 feat: trigger analytics release gf-375
  scripts/analytics/src/libs/modules/analytics-cli/base-analytics-cli.ts
Labels: scripts

#438 feat: update analytics cd config gf-375
  .github/workflows/cd.yml
  scripts/analytics/src/libs/modules/config/base-config.module.ts
  scripts/analytics/src/libs/modules/task-scheduler/base-task-scheduler.module.ts
Labels: workflows, scripts

#422 feat: Add search input to users table on access management pages gf-402
  apps/frontend/src/pages/access-management/access-management.tsx
  apps/frontend/src/pages/access-management/libs/components/users-table/users-table.tsx
  apps/frontend/src/pages/access-management/styles.module.css
  apps/frontend/src/pages/project-access-management/libs/components/project-groups-table/project-groups-table.tsx
  apps/frontend/src/pages/project-access-management/libs/components/users-table/users-table.tsx
  apps/frontend/src/pages/project-access-management/project-access-management.tsx
  apps/frontend/src/pages/project-access-management/styles.module.css
Labels: frontend

#440 fix: make helpers folder structure consistent gf-382
  apps/backend/src/libs/plugins/authorization/helpers/check-is-white-route/check-is-white-route.helper.ts
  apps/backend/src/libs/plugins/authorization/helpers/helpers.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/get-initial-page-size/get-initial-page-size.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/get-initial-page/get-initial-page.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/total-pages/total-pages.helper.ts
  apps/frontend/src/pages/access-management/libs/components/group-form/libs/helpers/get-permission-options/get-permission-options.helper.ts
  apps/frontend/src/pages/access-management/libs/components/group-form/libs/helpers/helpers.ts
  apps/frontend/src/pages/access-management/libs/components/group-users-table/libs/helpers/get-group-users-columns/get-group-users-columns.helper.ts
  apps/frontend/src/pages/access-management/libs/components/group-users-table/libs/helpers/helpers.ts
  apps/frontend/src/pages/project-access-management/libs/components/project-group-form/libs/helpers/get-permission-options/get-permission-options.helper.ts
  apps/frontend/src/pages/project-access-management/libs/components/project-group-form/libs/helpers/helpers.ts
Labels: backend, frontend

#441 fix: double dots shown nearby user checkboxes in the create/edit group/project group modal window gf-382
  apps/frontend/src/libs/components/table/styles.module.css
Labels: frontend

#424 fix: manage all projects permissions, edit, view, delete, create gf-411
  apps/backend/src/modules/project-groups/project-group.controller.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/pages/project/libs/components/project-details-menu/project-details-menu.tsx
  package-lock.json
Labels: bug, root, backend, frontend

#414 fix: Block access to project access management page when user hasn't either View or Manage All Projects permission gf-350
  apps/backend/src/modules/project-groups/project-group.controller.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
Labels: backend, frontend

#452 feat: Add delete project option to the project details page gf-407
  apps/frontend/src/modules/projects/slices/project.slice.ts
  apps/frontend/src/pages/project/libs/components/project-details-menu/project-details-menu.tsx
  apps/frontend/src/pages/project/project.tsx
  apps/frontend/src/pages/projects/projects.tsx
Labels: frontend

#454 fix: Inconsistent Users table resolution on the Access managment page on 1440px screen resolution gf-448
  apps/frontend/src/pages/access-management/libs/helpers/get-user-columns/get-user-columns.helper.tsx
Labels: frontend

#413 feat: Log out user when 401 error occurs gf-343
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/libs/modules/http/http.ts
  apps/frontend/src/libs/modules/http/libs/enums/enums.ts
  apps/frontend/src/libs/modules/http/libs/enums/exception-name.enum.ts
  apps/frontend/src/libs/modules/http/libs/exceptions/exceptions.ts
  apps/frontend/src/libs/modules/http/libs/exceptions/unauthorized-error.exception.ts
  apps/frontend/src/libs/modules/store/libs/middlewares/handle-unauthorized-error.middleware.ts
  apps/frontend/src/libs/modules/store/libs/middlewares/middlewares.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/modules/store/store.ts
Labels: frontend

#451 fix: change contributors last activity count to start from the begginning of the day gf-446
  apps/frontend/src/pages/project/libs/components/contributor-card/contributor-card.tsx
Labels: frontend

#461 fix: Inconsistent Users table resolution on the Project Access managment page on 1440px screen resolution gf-448
  apps/frontend/src/pages/project-access-management/libs/helpers/get-user-columns/get-user-columns.helper.ts
Labels: frontend

#435 feat: add ability to merge contributors gf-344
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/contributors/contributor.repository.ts
  apps/backend/src/modules/contributors/contributor.service.ts
  apps/backend/src/modules/contributors/contributors.ts
  apps/backend/src/modules/contributors/libs/types/types.ts
  apps/backend/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/assets/images/icons/merge.svg
  apps/frontend/src/assets/images/icons/warning.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/contributors/contributors-api.ts
  apps/frontend/src/modules/contributors/contributors.ts
  apps/frontend/src/modules/contributors/libs/types/types.ts
  apps/frontend/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/contributors/slices/actions.ts
  apps/frontend/src/modules/contributors/slices/contributor.slice.ts
  apps/frontend/src/modules/contributors/slices/contributors.ts
  apps/frontend/src/pages/contributors/contributors.tsx
  apps/frontend/src/pages/contributors/libs/components/components.ts
  apps/frontend/src/pages/contributors/libs/components/contributor-menu/contributor-menu.tsx
  apps/frontend/src/pages/contributors/libs/components/contributor-merge-form/contributor-merge-form.tsx
  apps/frontend/src/pages/contributors/libs/components/contributor-merge-form/libs/helpers/get-contributor-options/get-contributor-options.helper.ts
  apps/frontend/src/pages/contributors/libs/components/contributor-merge-form/libs/helpers/helpers.ts
  apps/frontend/src/pages/contributors/libs/components/contributor-merge-form/styles.module.css
  apps/frontend/src/pages/contributors/libs/components/contributor-update-form/contributor-update-form.tsx
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-columns/get-contributor-columns.helper.tsx
  apps/frontend/src/pages/project/libs/components/contributor-card/contributor-card.tsx
  apps/frontend/src/pages/project/libs/components/contributor-menu/contributor-menu.tsx
  apps/frontend/src/pages/project/libs/components/contributor-menu/styles.module.css
  apps/frontend/src/pages/project/libs/components/contributors-list/contributors-list.tsx
  apps/frontend/src/pages/project/project.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/modules/contributors/contributors.ts
  packages/shared/src/modules/contributors/libs/enums/contributor-validation-message.enum.ts
  packages/shared/src/modules/contributors/libs/enums/contributors-api-path.enum.ts
  packages/shared/src/modules/contributors/libs/types/contributor-merge-request-dto.type.ts
  packages/shared/src/modules/contributors/libs/types/types.ts
  packages/shared/src/modules/contributors/libs/validation-schemas/contributor-merge.validation-schema.ts
  packages/shared/src/modules/contributors/libs/validation-schemas/contributor-patch.validation-schema.ts
  packages/shared/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
Labels: shared, backend, frontend

#459 fix: useSearch change to handle modal search gf-455
  apps/frontend/src/libs/hooks/use-search/use-search.hook.ts
  apps/frontend/src/pages/access-management/libs/components/group-users-table/group-users-table.tsx
  package-lock.json
Labels: bug, root, frontend

#467 feat: authorize the request before starting background job for analytics gf-464
  apps/backend/src/libs/modules/server-application/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/auth-analytics/auth-analytics.controller.ts
  apps/backend/src/modules/auth-analytics/auth-analytics.service.ts
  apps/backend/src/modules/auth-analytics/auth-analytics.ts
  apps/backend/src/modules/auth-analytics/libs/enums/enums.ts
  apps/backend/src/modules/auth-analytics/libs/types/types.ts
  apps/backend/src/modules/auth-analytics/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/project-api-keys/project-api-key.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/auth-analytics/auth-analytics.ts
  packages/shared/src/modules/auth-analytics/libs/enums/auth-analytics-api-path.enum.ts
  packages/shared/src/modules/auth-analytics/libs/enums/auth-analytics-validation-message.enum.ts
  packages/shared/src/modules/auth-analytics/libs/enums/enums.ts
  packages/shared/src/modules/auth-analytics/libs/types/auth-analytics-validate-credentials-request-dto.type.ts
  packages/shared/src/modules/auth-analytics/libs/types/auth-analytics-validate-credentials-response-dto.type.ts
  packages/shared/src/modules/auth-analytics/libs/types/types.ts
  packages/shared/src/modules/auth-analytics/libs/validation-schemas/auth-analytics-validate-credentials.validation-schema.ts
  packages/shared/src/modules/auth-analytics/libs/validation-schemas/validation-schemas.ts
  scripts/analytics/src/libs/modules/analytics-cli/analytics-cli.ts
  scripts/analytics/src/libs/modules/analytics-cli/base-analytics-cli.ts
  scripts/analytics/src/modules/analytics/analytics.service.ts
  scripts/analytics/src/modules/analytics/libs/constants/constants.ts
  scripts/analytics/src/modules/analytics/libs/constants/first-array-index.constant.ts
  scripts/analytics/src/modules/auth-analytics/auth-analytics-api.ts
  scripts/analytics/src/modules/auth-analytics/auth-analytics.service.ts
  scripts/analytics/src/modules/auth-analytics/auth-analytics.ts
  scripts/analytics/src/modules/auth-analytics/libs/enums/enums.ts
  scripts/analytics/src/modules/auth-analytics/libs/types/types.ts
Labels: shared, backend, scripts

#466 fix: adjust root permissions gf-350
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/pages/project/libs/components/contributor-card/contributor-card.tsx
  apps/frontend/src/pages/project/libs/components/contributor-menu/contributor-menu.tsx
  apps/frontend/src/pages/project/libs/components/contributors-list/contributors-list.tsx
  apps/frontend/src/pages/project/project.tsx
Labels: backend, frontend

#479 fix: inconsistent alignment of the analytics table on the analytics page gf-473
  apps/frontend/src/pages/analytics/libs/components/analytics-table/analytics-table.tsx
Labels: frontend

#480 fix: the total number of users is not updated in the groups table after deleting a user gf-463
  apps/backend/src/modules/groups/group.repository.ts
  apps/backend/src/modules/project-groups/project-group.repository.ts
Labels: backend

#481 fix: loader component is not vertically centralized on the analytics page gf-471
  apps/frontend/src/pages/analytics/analytics.tsx
  apps/frontend/src/pages/analytics/libs/components/analytics-table/analytics-table.tsx
Labels: frontend

#487 fix: The table on the Analytics page reloads after a click on the date input to open the calendar gf-472
  apps/frontend/src/libs/components/date-input/date-input.tsx
  apps/frontend/src/libs/components/date-input/styles.module.css
Labels: frontend

#486 fix: The submission button for the Create Project Group modal has inconsistent to the mockup text gf-474
  apps/frontend/src/pages/project-access-management/libs/components/project-group-create-form/project-group-create-form.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-update-form/project-group-update-form.tsx
Labels: bug, frontend

#491 feat: add pagination to the contributors page gf-484
  apps/backend/src/modules/activity-logs/activity-log.service.ts
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/contributors/contributor.repository.ts
  apps/backend/src/modules/contributors/contributor.service.ts
  apps/frontend/src/modules/contributors/contributors-api.ts
  apps/frontend/src/modules/contributors/slices/actions.ts
  apps/frontend/src/modules/contributors/slices/contributor.slice.ts
  apps/frontend/src/pages/contributors/contributors.tsx
  apps/frontend/src/pages/contributors/styles.module.css
  packages/shared/src/modules/contributors/libs/types/contributor-get-all-response-dto.type.ts
Labels: shared, backend, frontend

#488 feat: the earliest date availible to be choosen on the date range on the analytics page should be 1 year from today gf-482
  apps/frontend/src/libs/components/date-input/date-input.tsx
  apps/frontend/src/libs/components/date-input/styles.module.css
  apps/frontend/src/pages/analytics/analytics.tsx
  apps/frontend/src/pages/analytics/libs/constants/analytics-lookback-days-count.constant.ts
  apps/frontend/src/pages/analytics/libs/constants/constants.ts
Labels: frontend

#477 feat: Add an ability to split contributors gf-462
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/contributors/contributor.repository.ts
  apps/backend/src/modules/contributors/contributor.service.ts
  apps/backend/src/modules/contributors/libs/types/types.ts
  apps/backend/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/assets/images/icons/split.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/contributors/contributors-api.ts
  apps/frontend/src/modules/contributors/contributors.ts
  apps/frontend/src/modules/contributors/libs/types/types.ts
  apps/frontend/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/contributors/slices/actions.ts
  apps/frontend/src/modules/contributors/slices/contributor.slice.ts
  apps/frontend/src/modules/contributors/slices/contributors.ts
  apps/frontend/src/pages/contributors/contributors.tsx
  apps/frontend/src/pages/contributors/libs/components/components.ts
  apps/frontend/src/pages/contributors/libs/components/contributor-menu/contributor-menu.tsx
  apps/frontend/src/pages/contributors/libs/components/contributor-merge-form/contributor-merge-form.tsx
  apps/frontend/src/pages/contributors/libs/components/contributor-split-form/contributor-split-form.tsx
  apps/frontend/src/pages/contributors/libs/components/contributor-split-form/libs/helpers/get-git-email-options/get-git-email-options.helper.ts
  apps/frontend/src/pages/contributors/libs/components/contributor-split-form/libs/helpers/helpers.ts
  apps/frontend/src/pages/contributors/libs/components/contributor-split-form/styles.module.css
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-columns/get-contributor-columns.helper.tsx
  apps/frontend/src/pages/project/libs/components/contributor-card/contributor-card.tsx
  apps/frontend/src/pages/project/libs/components/contributor-menu/contributor-menu.tsx
  apps/frontend/src/pages/project/libs/components/contributors-list/contributors-list.tsx
  apps/frontend/src/pages/project/project.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/modules/contributors/contributors.ts
  packages/shared/src/modules/contributors/libs/constants/constants.ts
  packages/shared/src/modules/contributors/libs/constants/min-git-emails-length-for-split.constant.ts
  packages/shared/src/modules/contributors/libs/enums/contributor-validation-message.enum.ts
  packages/shared/src/modules/contributors/libs/enums/contributors-api-path.enum.ts
  packages/shared/src/modules/contributors/libs/types/contributor-split-request-dto.type.ts
  packages/shared/src/modules/contributors/libs/types/types.ts
  packages/shared/src/modules/contributors/libs/validation-schemas/contributor-split.validation-schema.ts
  packages/shared/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
Labels: shared, backend, frontend

#470 feat: add projects select to analytics page gf-348
  apps/backend/src/modules/projects/project.controller.ts
  apps/backend/src/modules/projects/project.repository.ts
  apps/backend/src/modules/projects/project.service.ts
  apps/frontend/src/libs/components/select/select.tsx
  apps/frontend/src/modules/activity/slices/actions.ts
  apps/frontend/src/modules/activity/slices/activity.slice.ts
  apps/frontend/src/modules/activity/slices/activity.ts
  apps/frontend/src/modules/projects/projects-api.ts
  apps/frontend/src/pages/analytics/analytics.tsx
  apps/frontend/src/pages/analytics/libs/helpers/get-project-options/get-project-options.helper.ts
  apps/frontend/src/pages/analytics/libs/helpers/helpers.ts
  apps/frontend/src/pages/analytics/styles.module.css
Labels: backend, frontend

#490 feat: add infinite scroll and pagination to notificationspopover gf-458
  apps/backend/src/modules/notifications/libs/types/types.ts
  apps/backend/src/modules/notifications/notification.controller.ts
  apps/backend/src/modules/notifications/notification.repository.ts
  apps/backend/src/modules/notifications/notification.service.ts
  apps/frontend/src/libs/components/header/libs/components/notifications-popover/libs/constants/constants.ts
  apps/frontend/src/libs/components/header/libs/components/notifications-popover/libs/constants/notifications-page-size.constant.ts
  apps/frontend/src/libs/components/header/libs/components/notifications-popover/notifications-popover.tsx
  apps/frontend/src/libs/components/header/libs/components/notifications-popover/styles.module.css
  apps/frontend/src/modules/notifications/libs/types/types.ts
  apps/frontend/src/modules/notifications/notifications-api.ts
  apps/frontend/src/modules/notifications/slices/actions.ts
  apps/frontend/src/modules/notifications/slices/notification.slice.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/modules/notifications/libs/types/notification-get-all-request-dto.type.ts
  packages/shared/src/modules/notifications/libs/types/notification-get-all-response-dto.type.ts
  packages/shared/src/modules/notifications/libs/types/types.ts
  packages/shared/src/modules/notifications/notifications.ts
Labels: root, shared, backend, frontend

#478 fix: user profile not deleted without "Manage User Access" permission gf-449
  apps/backend/src/modules/users/user.controller.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/pages/profile/libs/components/delete-account/delete-account.tsx
  apps/frontend/src/pages/profile/libs/components/edit-user-form/edit-user-form.tsx
  apps/frontend/src/pages/profile/profile.tsx
Labels: backend, frontend

#497 fix: The GitEmail column data overlaps the Project column data on the "Contributors" page gf-450
  apps/frontend/package.json
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/tooltip/styles.module.css
  apps/frontend/src/libs/components/tooltip/tooltip.tsx
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-columns/get-contributor-columns.helper.tsx
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-columns/styles.module.css
  package-lock.json
Labels: root, frontend

#500 fix: The sidebar's size is inconsistent and changes when navigating between different sidebar links gf-475
  apps/frontend/src/libs/components/page-layout/styles.module.css
Labels: frontend

#505 fix: The "API key not found" is displayed in console after an attempt to setup the Analytics with a API key generated more than a day ago gf-495
  apps/backend/src/libs/modules/encryption/base-encryption.module.ts
Labels: backend

#513 fix: adjusted project/contributor card style to match figma design gf-506
  apps/frontend/src/pages/project/libs/components/contributor-card/styles.module.css
  apps/frontend/src/pages/projects/libs/components/project-card/styles.module.css
  package-lock.json
Labels: bug, root, frontend

#521 fix: inconsistent data display on analytics table due to date format issue gf-510
  apps/backend/src/libs/helpers/helpers.ts
  apps/backend/src/modules/activity-logs/activity-log.service.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/pages/analytics/analytics.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/get-end-of-day/get-end-of-day.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
Labels: bug, shared, backend, frontend

#400 feat: add an ability to mark contributors as hidden gf-346
  apps/backend/src/db/migrations/20240924094947_add_hidden_at_to_contributors_table.ts
  apps/backend/src/modules/activity-logs/activity-log.repository.ts
  apps/backend/src/modules/activity-logs/activity-log.service.ts
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/contributors/contributor.entity.ts
  apps/backend/src/modules/contributors/contributor.model.ts
  apps/backend/src/modules/contributors/contributor.repository.ts
  apps/backend/src/modules/contributors/contributor.service.ts
  apps/frontend/src/assets/images/icons/check.svg
  apps/frontend/src/libs/components/checkbox/checkbox.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/analytics/libs/helpers/get-analytics-rows/get-analytics-rows.helper.ts
  apps/frontend/src/pages/contributors/libs/components/contributor-update-form/contributor-update-form.tsx
  apps/frontend/src/pages/contributors/libs/components/contributor-update-form/styles.module.css
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-columns/get-contributor-columns.helper.tsx
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-rows/get-contributor-rows.helper.ts
  apps/frontend/src/pages/contributors/libs/types/contributor-row.type.ts
  apps/frontend/src/pages/project/libs/components/contributors-list/contributors-list.tsx
  packages/shared/src/modules/activity-logs/libs/types/activity-log-get-all-item-analytics-response-dto.type.ts
  packages/shared/src/modules/contributors/libs/types/contributor-get-all-item-response-dto.type.ts
  packages/shared/src/modules/contributors/libs/types/contributor-patch-request-dto.type.ts
  packages/shared/src/modules/contributors/libs/types/contributor-patch-response-dto.type.ts
  packages/shared/src/modules/contributors/libs/validation-schemas/contributor-patch.validation-schema.ts
  readme.md
  scripts/analytics/src/modules/analytics/libs/types/types.ts
Labels: root, shared, backend, frontend, scripts

#444 feat: add search field to analytics page gf-352
  apps/backend/src/modules/activity-logs/activity-log.repository.ts
  apps/backend/src/modules/activity-logs/activity-log.service.ts
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/contributors/contributor.repository.ts
  apps/backend/src/modules/contributors/contributor.service.ts
  apps/backend/src/modules/contributors/libs/types/types.ts
  apps/frontend/src/modules/activity/activity-logs-api.ts
  apps/frontend/src/pages/analytics/analytics.tsx
  apps/frontend/src/pages/analytics/libs/components/analytics-contributors-search/analytics-contributors-search.tsx
  apps/frontend/src/pages/analytics/libs/components/analytics-contributors-search/styles.module.css
  apps/frontend/src/pages/analytics/libs/components/analytics-table/analytics-table.tsx
  apps/frontend/src/pages/analytics/libs/components/components.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/activity-logs/libs/types/activity-log-query-parameters.type.ts
  packages/shared/src/modules/contributors/contributors.ts
  packages/shared/src/modules/contributors/libs/types/contributor-get-all-query-parameters.type.ts
  packages/shared/src/modules/contributors/libs/types/types.ts
Labels: shared, backend, frontend

#514 feat: upgrade the visibility of the project's options button on the project detail page gf-508
  apps/frontend/src/libs/components/menu/menu.tsx
  apps/frontend/src/pages/project/libs/components/project-details-menu/project-details-menu.tsx
  apps/frontend/src/pages/project/project.tsx
Labels: frontend

#525 fix: reload contributors lists on split gf-519
  apps/frontend/src/modules/contributors/slices/contributor.slice.ts
  apps/frontend/src/pages/contributors/contributors.tsx
  apps/frontend/src/pages/project/project.tsx
Labels: frontend

#527 fix: quality criteria issues gf-511
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/frontend/src/libs/components/select/select.tsx
Labels: backend, frontend

#512 feat: redirect to analytics page on contributor item click gf-349
  apps/frontend/src/libs/enums/query-parameter-name.enum.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-search-filters/use-search-filters.hook.ts
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/pages/access-management/access-management.tsx
  apps/frontend/src/pages/access-management/libs/components/group-users-table/group-users-table.tsx
  apps/frontend/src/pages/analytics/analytics.tsx
  apps/frontend/src/pages/project-access-management/libs/components/project-group-users-table/project-group-users-table.tsx
  apps/frontend/src/pages/project-access-management/project-access-management.tsx
  apps/frontend/src/pages/project/libs/components/contributor-card/contributor-card.tsx
  apps/frontend/src/pages/project/libs/components/contributor-card/styles.module.css
  apps/frontend/src/pages/project/libs/components/contributors-list/contributors-list.tsx
  apps/frontend/src/pages/project/project.tsx
  apps/frontend/src/pages/projects/projects.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/configure-query-string/configure-query-string.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
Labels: shared, frontend

#526 feat: add analytics last sync time to project details page gf-502
  apps/backend/src/modules/projects/project.entity.ts
  apps/backend/src/modules/projects/project.model.ts
  apps/backend/src/modules/projects/project.repository.ts
  apps/frontend/src/assets/images/icons/sync.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/project/libs/components/contributors-list/contributors-list.tsx
  apps/frontend/src/pages/project/libs/components/contributors-list/libs/components/components.ts
  apps/frontend/src/pages/project/libs/components/contributors-list/libs/components/sync-time/libs/constants/constants.ts
  apps/frontend/src/pages/project/libs/components/contributors-list/libs/components/sync-time/libs/constants/overdue-limit.constant.ts
  apps/frontend/src/pages/project/libs/components/contributors-list/libs/components/sync-time/libs/helpers/helpers.ts
  apps/frontend/src/pages/project/libs/components/contributors-list/libs/components/sync-time/styles.module.css
  apps/frontend/src/pages/project/libs/components/contributors-list/libs/components/sync-time/sync-time.tsx
  apps/frontend/src/pages/project/libs/components/contributors-list/styles.module.css
  apps/frontend/src/pages/project/project.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/get-sync-time/get-sync-time.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/modules/projects/libs/types/project-get-by-id-response-dto.type.ts
Labels: shared, backend, frontend

#534 fix: "Do Not Track" column text wraps onto two lines on smaller screen sizes gf-528
  apps/frontend/src/pages/contributors/libs/helpers/get-contributor-columns/get-contributor-columns.helper.tsx
Labels: bug, frontend

#537 feat: order contributors list on the project details page by the last activity (the latest active ones on top) gf-533
  apps/backend/src/modules/contributors/contributor.repository.ts
Labels: backend

#531 fix: resolve double reload on analytics table search gf-529
  apps/frontend/src/pages/analytics/analytics.tsx
Labels: bug, frontend

#532 feat: add validation notification for incorrect password on login gf-517
  apps/frontend/src/libs/modules/store/libs/middlewares/handle-unauthorized-error.middleware.ts
  package-lock.json
Labels: root, frontend

#498 feat: ability to mark notifications as read gf-460
  apps/backend/src/db/migrations/20240924130637_add_status_to_notifications_table.ts
  apps/backend/src/modules/notifications/libs/enums/enums.ts
  apps/backend/src/modules/notifications/notification.controller.ts
  apps/backend/src/modules/notifications/notification.entity.ts
  apps/backend/src/modules/notifications/notification.model.ts
  apps/backend/src/modules/notifications/notification.repository.ts
  apps/backend/src/modules/notifications/notification.service.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/libs/components/notifications-popover/libs/components/notification-item/notification-item.tsx
  apps/frontend/src/libs/components/header/libs/components/notifications-popover/libs/components/notification-item/styles.module.css
  apps/frontend/src/libs/components/header/libs/components/notifications-popover/libs/enums/enums.ts
  apps/frontend/src/libs/components/header/libs/components/notifications-popover/notifications-popover.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/popover/popover.tsx
  apps/frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
  apps/frontend/src/modules/notifications/notifications-api.ts
  apps/frontend/src/modules/notifications/slices/actions.ts
  apps/frontend/src/modules/notifications/slices/notification.slice.ts
  apps/frontend/src/modules/notifications/slices/notifications.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/modules/notifications/libs/enums/enums.ts
  packages/shared/src/modules/notifications/libs/enums/notification-status.enum.ts
  packages/shared/src/modules/notifications/libs/enums/notification-validation-message.enum.ts
  packages/shared/src/modules/notifications/libs/enums/notifications-api-path.enum.ts
  packages/shared/src/modules/notifications/libs/types/notification-get-all-item-response-dto.type.ts
  packages/shared/src/modules/notifications/notifications.ts
  readme.md
Labels: root, shared, backend, frontend

#539 fix: incorrect message displayed when all contributors are hidden gf-538
  apps/frontend/src/pages/analytics/analytics.tsx
  apps/frontend/src/pages/analytics/libs/components/analytics-table/analytics-table.tsx
Labels: bug, frontend

#544 feat: update schema in readme to match the app gf-543
  readme.md
Labels: root

#549 fix: incorrect time display and color coding for analytics last sync time gf-547
  packages/shared/src/libs/helpers/get-sync-time/get-sync-time.helper.ts
Labels: bug, shared

#548 feat: adjusted style for date column to align with the table head gf-545
  apps/frontend/src/pages/analytics/libs/components/analytics-table/styles.module.css
  package-lock.json
Labels: root, frontend

#401 feat: Adjust project permissions gf-351
  apps/backend/src/db/migrations/20240917124634_add_edit_project_permission.ts
  apps/backend/src/db/migrations/20240917124830_add_manage_project_permission.ts
  apps/backend/src/libs/hooks/check-user-permissions.hook.ts
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-pre-handler.type.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  apps/backend/src/modules/activity-logs/activity-log.controller.ts
  apps/backend/src/modules/activity-logs/activity-log.repository.ts
  apps/backend/src/modules/activity-logs/activity-log.service.ts
  apps/backend/src/modules/activity-logs/activity-logs.ts
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/contributors/contributor.repository.ts
  apps/backend/src/modules/contributors/contributor.service.ts
  apps/backend/src/modules/project-api-keys/project-api-key.controller.ts
  apps/backend/src/modules/project-groups/libs/types/types.ts
  apps/backend/src/modules/project-groups/project-group.controller.ts
  apps/backend/src/modules/project-groups/project-group.repository.ts
  apps/backend/src/modules/project-groups/project-group.service.ts
  apps/backend/src/modules/project-groups/project-groups.ts
  apps/backend/src/modules/projects/project.controller.ts
  apps/backend/src/modules/projects/project.repository.ts
  apps/backend/src/modules/projects/project.service.ts
  apps/backend/src/modules/projects/projects.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/page-layout/page-layout.tsx
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/constants/navigation-items.constant.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/helpers/get-permitted-navigation-items/get-permitted-navigation-items.helper.ts
  apps/frontend/src/libs/types/navigation-item.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/pages/project/libs/components/project-details-menu/project-details-menu.tsx
  apps/frontend/src/pages/project/libs/helpers/check-is-project-permitted.ts
  apps/frontend/src/pages/project/libs/helpers/helpers.ts
  apps/frontend/src/pages/project/project.tsx
  apps/frontend/src/pages/projects/projects.tsx
  packages/shared/src/libs/helpers/check-has-permission/check-has-permission.helper.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
Labels: shared, backend, frontend

#542 fix: Browser Back button not functioning after redirecting to the Analytics page from the Project details page gf-540
  apps/frontend/src/libs/components/chart/chart.tsx
  apps/frontend/src/libs/hooks/use-search-filters/use-search-filters.hook.ts
  apps/frontend/src/pages/project/libs/components/contributor-card/contributor-card.tsx
Labels: frontend

#551 fix: not all contributors are displayed in contributor merge form gf-550
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/frontend/src/modules/contributors/contributors-api.ts
  apps/frontend/src/modules/contributors/slices/actions.ts
  apps/frontend/src/modules/contributors/slices/contributor.slice.ts
  apps/frontend/src/modules/contributors/slices/contributors.ts
  apps/frontend/src/pages/contributors/contributors.tsx
Labels: bug, backend, frontend

#516 feat: Add project select to the contributors page gf-504
  apps/backend/src/modules/activity-logs/activity-log.controller.ts
  apps/backend/src/modules/activity-logs/activity-log.service.ts
  apps/backend/src/modules/contributors/contributor.controller.ts
  apps/backend/src/modules/contributors/contributor.repository.ts
  apps/backend/src/modules/contributors/contributor.service.ts
  apps/backend/src/modules/contributors/libs/enums/enums.ts
  apps/backend/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/project-groups/project-group.repository.ts
  apps/frontend/src/modules/activity/activity-logs-api.ts
  apps/frontend/src/modules/contributors/contributors-api.ts
  apps/frontend/src/modules/contributors/contributors.ts
  apps/frontend/src/modules/contributors/libs/enums/enums.ts
  apps/frontend/src/modules/contributors/libs/types/types.ts
  apps/frontend/src/modules/contributors/slices/actions.ts
  apps/frontend/src/modules/projects/slices/actions.ts
  apps/frontend/src/pages/analytics/analytics.tsx
  apps/frontend/src/pages/contributors/contributors.tsx
  apps/frontend/src/pages/contributors/styles.module.css
  apps/frontend/src/pages/project/project.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/activity-logs/libs/types/activity-log-query-parameters.type.ts
  packages/shared/src/modules/activity-logs/libs/validation-schemas/activity-log-get.validation-schema.ts
  packages/shared/src/modules/contributors/contributors.ts
  packages/shared/src/modules/contributors/libs/enums/contributor-order-by-key.enum.ts
  packages/shared/src/modules/contributors/libs/enums/contributor-validation-message.enum.ts
  packages/shared/src/modules/contributors/libs/enums/enums.ts
  packages/shared/src/modules/contributors/libs/types/contributor-get-all-query-parameters.type.ts
  packages/shared/src/modules/contributors/libs/validation-schemas/contributor-get-all.validation-schema.ts
  packages/shared/src/modules/contributors/libs/validation-schemas/validation-schemas.ts
Labels: shared, backend, frontend, conflicts

#563 fix: Pending Access message is displayed for a user with access to view a specific project gf-560
  apps/backend/src/modules/users/user.repository.ts
Labels: backend
