Repository BinaryStudioAcademy/bsa-2024-gitfit, pull requests merged in 2024-08, with the labels that each got.

#15 ci: update issue templates and labeler ci action gf-1
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/labeler.yml
  readme.md
Labels: root, workflows, backend, frontend

#17 docs: add database schema to readme gf-3
  readme.md
Labels: root, backend, frontend

#19 fix(backend): make migration scripts cross-platform gf-1
  .github/labeler.yml
  apps/backend/package.json
Labels: workflows, backend

#28 feat: add common color variables gf-27
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/assets/css/variables.css
Labels: frontend

#29 feat: create loader component gf-9
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
Labels: frontend

#31 feat: add route protection gf-14
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/modules/auth/libs/types/types.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
Labels: frontend

#30 feat: add fonts & improve page not found gf-20
  apps/frontend/public/assets/fonts/inter/inter-medium.ttf
  apps/frontend/public/assets/fonts/inter/inter-regular.ttf
  apps/frontend/public/assets/fonts/inter/inter-semibold.ttf
  apps/frontend/src/assets/css/fonts.css
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/button.module.css
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/not-found/styles.module.css
Labels: frontend, conflicts

#34 feat: generate authorization token gf-8
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/token/base-token.module.ts
  apps/backend/src/libs/modules/token/libs/types/token.type.ts
  apps/backend/src/libs/modules/token/libs/types/types.ts
  apps/backend/src/libs/modules/token/token.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/user.service.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-response-dto.type.ts
  packages/shared/src/modules/users/users.ts
Labels: root, shared, backend, env

#39 feat: create a table component gf-22
  apps/frontend/package.json
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/table/mock-data.ts
  apps/frontend/src/libs/components/table/styles.module.css
  apps/frontend/src/libs/components/table/table.tsx
  package-lock.json
Labels: root, frontend

#47 fix: change the weight of the fonts gf-1
  apps/frontend/src/assets/css/fonts.css
Labels: frontend

#38 feat: add sign-up flow gf-6
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/db/migrations/20240819100100_add_name_to_users.ts
  apps/backend/src/libs/exceptions/exceptions.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/encryption/base-encryption.module.ts
  apps/backend/src/libs/modules/encryption/encryption.ts
  apps/backend/src/libs/modules/encryption/libs/types/encrypt-result.type.ts
  apps/backend/src/libs/modules/encryption/libs/types/encryption.type.ts
  apps/backend/src/libs/modules/encryption/libs/types/types.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/components/sign-up-form/libs/constants/default-sign-up-payload.constant.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/exceptions/exceptions.ts
  packages/shared/src/modules/users/libs/exceptions/user-error.exception.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-get-all-item-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-request-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  packages/shared/src/modules/users/users.ts
Labels: root, shared, backend, frontend, env

#35 feat: add error handling on front-end gf-10
  apps/frontend/package.json
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/toast-container/styles.module.css
  apps/frontend/src/libs/components/toast-container/toast-container.tsx
  apps/frontend/src/libs/modules/store/libs/middlewares/handle-error.middleware.ts
  apps/frontend/src/libs/modules/store/libs/middlewares/middlewares.ts
  apps/frontend/src/libs/modules/store/libs/types/extra-arguments.type.ts
  apps/frontend/src/libs/modules/store/libs/types/root-reducer.type.ts
  apps/frontend/src/libs/modules/store/libs/types/types.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/modules/toast-notifier/libs/types/toast-notifier.type.ts
  apps/frontend/src/libs/modules/toast-notifier/libs/types/types.ts
  apps/frontend/src/libs/modules/toast-notifier/toast-notifier.module.ts
  apps/frontend/src/libs/modules/toast-notifier/toast-notifier.ts
  package-lock.json
Labels: root, frontend

#37 feat: add sign-up flow gf-5
  apps/frontend/package.json
  apps/frontend/src/assets/css/fonts.css
  apps/frontend/src/assets/images/icons/eye.svg
  apps/frontend/src/assets/images/icons/striked-eye.svg
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon-button/icon-button.tsx
  apps/frontend/src/libs/components/icon-button/styles.module.css
  apps/frontend/src/libs/components/icon/icon.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/icon/libs/maps/maps.ts
  apps/frontend/src/libs/components/icon/types/icon-name.type.ts
  apps/frontend/src/libs/components/icon/types/types.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/link/styles.module.css
  apps/frontend/src/libs/helpers/get-valid-classes/get-valid-classes.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  apps/frontend/src/pages/auth/styles.module.css
  apps/frontend/src/vite-env.d.ts
  apps/frontend/vite.config.ts
  package-lock.json
Labels: root, frontend

#40 feat: add header component gf-11
  apps/frontend/src/assets/images/logo.svg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/avatar/avatar.tsx
  apps/frontend/src/libs/components/avatar/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
Labels: frontend

#55 docs: move specification to repository gf-54
  docs/specification.md
  readme.md
Labels: root, docs

#43 feat: add route protection gf-13
  apps/backend/package.json
  apps/backend/src/index.d.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/constants/constants.ts
  apps/backend/src/libs/modules/server-application/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/users/users.ts
  apps/backend/tsconfig.json
  package-lock.json
  packages/shared/src/libs/enums/exception-message.enum.ts
Labels: root, shared, backend

#52 feat: add authenticated user flow gf-25
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/modules/server-application/libs/constants/white-routes.constant.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
Labels: shared, backend

#74 fix: correct white routes constant and token extraction gf-13
  apps/backend/src/libs/modules/server-application/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
Labels: backend

#50 feat: create a select component gf-24
  apps/frontend/package.json
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/select/select.tsx
  apps/frontend/src/libs/components/select/styles.module.css
  apps/frontend/src/libs/types/select-option.type.ts
  apps/frontend/src/libs/types/types.ts
  package-lock.json
Labels: root, frontend

#49 feat: add authenticated user flow gf-26
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/libs/modules/store/libs/types/extra-arguments.type.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/libs/types/types.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/projects/projects.tsx
  package-lock.json
Labels: root, frontend

#33 feat: create sidebar component gf-12
  apps/frontend/src/assets/images/icons/access.svg
  apps/frontend/src/assets/images/icons/analytics.svg
  apps/frontend/src/assets/images/icons/contributors.svg
  apps/frontend/src/assets/images/icons/project.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/icon/types/icon-name.type.ts
  apps/frontend/src/libs/components/sidebar/sidebar-item/sidebar-item.tsx
  apps/frontend/src/libs/components/sidebar/sidebar-item/styles.module.css
  apps/frontend/src/libs/components/sidebar/sidebar.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/navigation-items.constant.ts
  apps/frontend/src/libs/types/navigation-item.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/projects/projects.tsx
Labels: frontend

#75 docs: add form validation rules and day ranges for color indicators gf-66
  docs/specification.md
Labels: docs, qa

#76 docs: add data view information and about select project dropdown gf-67
  docs/specification.md
Labels: docs, qa

#90 docs: update header element details gf-61
  docs/specification.md
Labels: docs, qa

#77 feat: add ability to create project gf-57
  apps/backend/src/db/migrations/20240823114259_add_projects_table.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/projects/libs/enums/enums.ts
  apps/backend/src/modules/projects/libs/exceptions/exceptions.ts
  apps/backend/src/modules/projects/libs/types/types.ts
  apps/backend/src/modules/projects/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/projects/project.controller.ts
  apps/backend/src/modules/projects/project.entity.ts
  apps/backend/src/modules/projects/project.model.ts
  apps/backend/src/modules/projects/project.repository.ts
  apps/backend/src/modules/projects/project.service.ts
  apps/backend/src/modules/projects/projects.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/modules/projects/libs/enums/enums.ts
  packages/shared/src/modules/projects/libs/enums/project-validation-message.enum.ts
  packages/shared/src/modules/projects/libs/enums/project-validation-rule.enum.ts
  packages/shared/src/modules/projects/libs/enums/projects-api-path.enum.ts
  packages/shared/src/modules/projects/libs/exceptions/exceptions.ts
  packages/shared/src/modules/projects/libs/exceptions/user-error.exception.ts
  packages/shared/src/modules/projects/libs/types/project-create-request-dto.type.ts
  packages/shared/src/modules/projects/libs/types/project-create-response-dto.type.ts
  packages/shared/src/modules/projects/libs/types/types.ts
  packages/shared/src/modules/projects/libs/validation-schemas/project-create.validation-schema.ts
  packages/shared/src/modules/projects/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/projects/projects.ts
Labels: shared, backend

#42 feat: create modal component gf-21
  apps/frontend/src/assets/images/icons/cross.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/icon/types/icon-name.type.ts
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
  apps/frontend/src/libs/hooks/use-modal-state/use-modal-state.hook.ts
  apps/frontend/src/pages/projects/projects.tsx
Labels: frontend

#51 feat: create table pagination component gf-23
  apps/frontend/src/assets/images/icons/left-arrow.svg
  apps/frontend/src/assets/images/icons/left-double-arrow.svg
  apps/frontend/src/assets/images/icons/right-arrow.svg
  apps/frontend/src/assets/images/icons/right-double-arrow.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon-button/icon-button.tsx
  apps/frontend/src/libs/components/icon-button/libs/constants/constants.ts
  apps/frontend/src/libs/components/icon-button/libs/constants/icon-size.constant.ts
  apps/frontend/src/libs/components/icon-button/styles.module.css
  apps/frontend/src/libs/components/icon/icon.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/icon/libs/types/icon-name.type.ts
  apps/frontend/src/libs/components/icon/libs/types/types.ts
  apps/frontend/src/libs/components/icon/styles.module.css
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/components/select/select.tsx
  apps/frontend/src/libs/components/select/styles.module.css
  apps/frontend/src/libs/components/table-pagination/libs/constants/constants.ts
  apps/frontend/src/libs/components/table-pagination/libs/constants/page-increment.constant.ts
  apps/frontend/src/libs/components/table-pagination/libs/constants/page-size-options.constant.ts
  apps/frontend/src/libs/components/table-pagination/styles.module.css
  apps/frontend/src/libs/components/table-pagination/table-pagination.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/query-parameter-name.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/constants/constants.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/constants/default-page-size.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/constants/first-page.constant.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/get-initial-page-size.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/get-initial-page.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/use-pagination/libs/helpers/total-pages.helper.ts
  apps/frontend/src/libs/hooks/use-pagination/use-pagination.hook.ts
  apps/frontend/src/libs/types/navigation-item.type.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/projects/projects.tsx
Labels: frontend

#96 docs: add notification information 2-8 contributors gf-68
  docs/specification.md
Labels: docs, qa

#97 docs: requirements update 2.3 Auth gf-63
  docs/specification.md
Labels: docs, qa

#99 docs: requirement update access managment gf-64
  docs/specification.md
Labels: docs, qa

#59 feat: add users table gf-41
  apps/backend/src/modules/users/user.entity.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/page-layout/page-layout.tsx
  apps/frontend/src/libs/components/page-layout/styles.module.css
  apps/frontend/src/libs/components/table/styles.module.css
  apps/frontend/src/libs/components/table/table.tsx
  apps/frontend/src/libs/constants/navigation-items.constant.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/access-management/access-management.tsx
  apps/frontend/src/pages/access-management/libs/helpers/get-user-columns.helper.ts
  apps/frontend/src/pages/access-management/libs/helpers/get-user-rows.helper.ts
  apps/frontend/src/pages/access-management/libs/helpers/helpers.ts
  apps/frontend/src/pages/access-management/libs/types/types.ts
  apps/frontend/src/pages/access-management/libs/types/user-row.type.ts
  apps/frontend/src/pages/access-management/styles.module.css
  package-lock.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/format-date/format-date.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/modules/users/libs/types/user-auth-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-get-all-item-response-dto.type.ts
Labels: root, shared, backend, frontend

#56 feat: add an ability to create a group gf-53
  apps/backend/src/db/migrations/20240822140145_add_permissions_table.ts
  apps/backend/src/db/migrations/20240822141237_add_user_groups_table.ts
  apps/backend/src/db/migrations/20240822142054_users_to_user_groups.ts
  apps/backend/src/db/migrations/20240822142335_user_groups_to_permissions.ts
  apps/backend/src/db/migrations/20240822143738_add_manage_user_access_to_permission.ts
  apps/backend/src/libs/exceptions/exceptions.ts
  apps/backend/src/libs/helpers/helpers.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/groups/group.controller.ts
  apps/backend/src/modules/groups/group.entity.ts
  apps/backend/src/modules/groups/group.model.ts
  apps/backend/src/modules/groups/group.repository.ts
  apps/backend/src/modules/groups/group.service.ts
  apps/backend/src/modules/groups/groups.ts
  apps/backend/src/modules/groups/libs/enums/enum.ts
  apps/backend/src/modules/groups/libs/exceptions/exceptions.ts
  apps/backend/src/modules/groups/libs/types/types.ts
  apps/backend/src/modules/groups/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/groups/permission.model.ts
  package-lock.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/libs/helpers/change-case/change-case.helper.ts
  packages/shared/src/libs/helpers/change-case/libs/maps/case-type-to-function.map.ts
  packages/shared/src/libs/helpers/change-case/libs/maps/maps.ts
  packages/shared/src/libs/helpers/change-case/libs/types/case-type.type.ts
  packages/shared/src/libs/helpers/change-case/libs/types/types.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/modules/groups/groups.ts
  packages/shared/src/modules/groups/libs/enums/enums.ts
  packages/shared/src/modules/groups/libs/enums/group-validation-message.enum.ts
  packages/shared/src/modules/groups/libs/enums/group-validation-rule.enum.ts
  packages/shared/src/modules/groups/libs/enums/groups-api-path.enum.ts
  packages/shared/src/modules/groups/libs/exceptions/exceptions.ts
  packages/shared/src/modules/groups/libs/exceptions/group-error.exception.ts
  packages/shared/src/modules/groups/libs/types/group-create-request-dto.type.ts
  packages/shared/src/modules/groups/libs/types/group-create-response-dto.type.ts
  packages/shared/src/modules/groups/libs/types/types.ts
  packages/shared/src/modules/groups/libs/validation-schemas/group-create.validation-schema.ts
  packages/shared/src/modules/groups/libs/validation-schemas/validation-schemas.ts
  readme.md
Labels: root, shared, backend

#111 chore: set up deployment gf-18
  .github/workflows/cd.yml
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/backend/src/libs/plugins/authorization/helpers/check-is-white-route.helper.ts
  apps/backend/src/libs/plugins/authorization/helpers/helpers.ts
Labels: workflows, backend

#95 feat: add user popup gf-58
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/libs/components/components.ts
  apps/frontend/src/libs/components/header/libs/components/user-popover/styles.module.css
  apps/frontend/src/libs/components/header/libs/components/user-popover/user-popover.tsx
  apps/frontend/src/libs/components/popover/popover.tsx
  apps/frontend/src/libs/components/popover/styles.module.css
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
Labels: frontend

#116 fix: refactor user groups to permissions relation gf-78
  apps/backend/src/db/migrations/20240829181900_fix_user_groups_to_permissions.ts
Labels: bug, backend

#125 fix: "No token provided" error message appears when navigating to the "Access Management" page gf-117
  apps/frontend/src/modules/users/users-api.ts
Labels: frontend

#126 fix: Inconsistent layout on the Projects and Access Managment page gf-120
  apps/frontend/src/libs/components/page-layout/styles.module.css
  apps/frontend/src/pages/access-management/styles.module.css
  apps/frontend/src/pages/projects/projects.tsx
  apps/frontend/src/pages/projects/styles.module.css
Labels: bug, frontend

#129 fix: Abscence of a logo on the Sign In and Sign Up pages gf-121
  apps/frontend/src/assets/images/logo-default.svg
  apps/frontend/src/pages/auth/auth.tsx
Labels: bug, frontend

#127 fix: Loader is missing when switching between pages gf-119
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
  apps/frontend/src/libs/components/page-layout/page-layout.tsx
  apps/frontend/src/libs/helpers/get-valid-classes.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/pages/access-management/access-management.tsx
  apps/frontend/src/pages/projects/projects.tsx
  apps/frontend/src/pages/projects/styles.module.css
Labels: bug, frontend
